 *{
  font-family: outfit;
  color: white;
 }

/* navbar */
.navbar .navbar-brand img {
    width: 120px;
  }
  .navbar .navbar-nav {
    margin-left: auto;
  }
  .navbar .btn {
    background: linear-gradient(to right, #a555ed, #7800e3);
    width: 130px;
    font-weight: 600;
  }
  .navbar .btn:hover {
    background: none;
    border: 1px solid #a555ed;
    color: white;
  }
  .navbar .nav-link {
    margin-right: 30px;
  }
  .navbar .nav-link:hover {
    color: #a555ed;
  }
  /* navbar */

  /* about */
  #about {
    color: white;
    margin-top: 30px;
  }
  #about h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
  }
    
  /* about */

/* footer */
footer {
  padding: 30px 30px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer li {
 display: inline;
 padding-right: 20px; 
}
footer .copyright-text {
  color: grey;
  text-align: end;
}
footer .subtitle {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: grey;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: #a555ed;
}
/* footer */


 
